.App {
  background-image: url(https://th.bing.com/th/id/R.8d7ac5b1e380be0acf9dacf343160fdd?rik=hgLpAEhMLo0Muw&pid=ImgRaw&r=0);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  color:brown;
}

.Item {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
